/*******************************************************************************
 * Footer styles
 ******************************************************************************/

footer.fixed-bottom {
  background-color: var(--global-footer-bg-color);
  font-size: 0.75rem;

  .container {
    color: var(--global-footer-text-color);
    padding-top: 9px;
    padding-bottom: 8px;
    text-align: center;
  }

  a {
    color: var(--global-footer-link-color);

    &:hover {
      color: var(--global-theme-color);
      text-decoration: none;
    }
  }
}

footer.sticky-bottom {
  background-color: var(--global-footer-bg-color);
  border-top: none;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  font-size: 0.8rem;
  letter-spacing: 0.03em;

  .container {
    text-align: center;
    color: var(--global-footer-text-color);
  }

  a {
    color: var(--global-footer-link-color) !important;

    &:hover {
      color: var(--global-footer-link-color) !important;
      opacity: 0.7;
      text-decoration: none;
    }
  }
}
